/* Import Google font for headings */
@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');

/* Global settings */
body {
  /* Variables*/
  --white: #ddd;
  --black: #222;
  --gray: #777;
  --rounded: 8px;

  /* Positioning & Size */
  box-sizing: border-box;
  margin: 32px auto;
  width: 80%;
  min-width: 600px;
  max-width: 900px;

  /* Internal spacing & sizing */
  padding: 16px;

  /* Color & Font */
  background-color: var(--white);
  color: var(--black);
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-family: 'Vast Shadow', cursive, serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Flashed messages */
.flash {
  color: green;
  margin-top: -1em;
  text-align: center;
}

/* Restaurants (homepage) */
.db-action {
  /* Generic class for add/edit/delete links */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px;
  font-size: 1rem;
  margin-top: 16px;
}

.db-action--left {
  right: auto;
  left: 0;
}

.db-action--inline {
  /* Action links set to be on same line as previous item */
  padding: 0;
  margin-top: auto;
}

.db-action--inline li {
  display: inline-block;
}

.restaurants {
  /* Container ul for restaurant list */
}

.restaurant {
  /* li for an individual restaurant */
  font-size: 1.25rem;
  margin: 1rem 0;
  position: relative;
}


/* Menus */
.menu {
  border: 1px solid var(--gray);
  border-radius: var(--rounded);
  margin: 0 auto;
  padding: 16px 8px;
}

.item {
  position: relative;
  margin: 16px 0;
  padding: 0 8px;
}

.item__name {
  font-weight: 700;
}

.item__description {
  font-style: italic;
  margin-left: 16px;
}

.item__price {
  margin-left: 16px;
}

.item__modify {
  position: absolute;
  top: 0;
  right: 8px;
}

.item__modify a {
  display: inline-block;
  margin-left: 8px;
}

/* Forms */

form {
  margin: 16px;
}

label, .label {
  font-weight: 700;
}

.label--radio {
  font-weight: 400;
}

.form__container {
  border: 1px solid var(--gray);
  border-radius: var(--rounded);
  position: relative;
  width: 100%;
}

.form__instructions {
  font-style: italic;
}

.cancel-button {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
