<html lang = "en">
<head>
  <title>Add Restaurant</title>
  <meta charset = "utf-8">
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'styles.css') }}">
</head>

<body>

  <h1>New Restaurant</h1>

  <div class = "form__container">
    <form method = "POST" action = "{{ url_for('addRestaurant') }}">
      <p>
        <label for = "name">Restaurant Name:</label>
        <input type = "text" id = "name" name = "name" size = "30" required>
      </p>
      <input type = "submit" value = "Submit">
    </form>
    <form method = "GET" action = "{{ url_for('showRestaurants') }}" class = "cancel-button">
      <input type = "submit" value = "Cancel">
    </form>
  </div>

</body>
</html>
