<html lang = "en">
<head>
  <title>Edit Menu Item</title>
  <meta charset = "utf-8">
</head>

<body>

  <h1>Edit {{ item.name }} at {{ restaurant.name }}</h1>

  <form method = "POST" action = "#">
    <p class = "form__instructions">
      Only change values in fields that you wish to update
    </p>
    <p>
      <label for = "name">Item Name:*</label>
      <input type = "text" id = "name" name = "name" size = "30" value = "{{ item.name }}" required>
    </p>
    <p>
      <label for = "desc">Description:</label>
      <input type = "text" id = "desc" name = "description" size = "60" value = "{{ item.description }}">
    </p>
    <p>
      <label for = "price">Price:*</label>
      <input type = "text" id = "price" name = "price" size = "10" value = "{{ item.price }}" required>
    </p>
    <input type = "submit" value = "Submit">
  </form>
  <form method = "GET" action = "#" class = "cancel-button">
    <input type = "submit" value = "Cancel">
  </form>

</body>
</html>
