<html lang = "en">
<head>
  <title>Edit Menu Item</title>
  <meta charset = "utf-8">
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'styles.css') }}">
</head>

<body>

  <h1>Edit {{ item.name }} at {{ restaurant.name }}</h1>

  <form method = "POST" action = "{{ url_for('editItem', restaurant_id = restaurant.id, item_id = item.id) }}">
    <p class = "form__instructions">
      Only change values in fields that you wish to update
    </p>
    <p>
      <label for = "name">Item Name:*</label>
      <input type = "text" id = "name" name = "name" size = "30" value = "{{ item.name }}" required>
    </p>
    <p>
      Course:
      <input type = "radio" name = "course" value = "Appetizer" id = "app" {{ "checked" if item.course == "Appetizer" else "" }}><label for = "app">Appetizer</label>
      <input type = "radio" name = "course" value = "Entree" id = "ent" {{ "checked" if item.course == "Entree" else "" }}><label for = "ent">Entree</label>
      <input type = "radio" name = "course" value = "Dessert" id = "des" {{ "checked" if item.course == "Dessert" else "" }}><label for = "des">Dessert</label>
      <input type = "radio" name = "course" value = "Beverage" id = "bev" {{ "checked" if item.course == "Beverage" else "" }}><label for = "bev">Beverage</label>
    </p>
    <p>
      <label for = "desc">Description:</label>
      <input type = "text" id = "desc" name = "description" size = "60" value = "{{ item.description }}">
    </p>
    <p>
      <label for = "price">Price:*</label>
      <input type = "text" id = "price" name = "price" size = "10" value = "{{ item.price }}" required>
    </p>
    <input type = "submit" value = "Submit">
  </form>
  <form method = "GET" action = "{{ url_for('showMenu', restaurant_id = restaurant.id) }}" class = "cancel-button">
    <input type = "submit" value = "Cancel">
  </form>

</body>
</html>
