<html lang = "en">
<head>
  <title>Edit Restaurant</title>
  <meta charset = "utf-8">
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'styles.css') }}">
</head>

<body>

  <h1>Edit {{ restaurant.name }}</h1>

  <div class = "form__container">
    <form method = "POST" action = "{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}">
      <p>
        <label for = "name">New Name:</label>
        <input type = "text" id = "name" name = "name" size = "30" required>
      </p>
      <input type = "submit" value = "Submit">
    </form>
    <form method = "GET" action = "{{ url_for('showRestaurants') }}" class = "cancel-button">
      <input type = "submit" value = "Cancel">
    </form>
  </div>

</body>
</html>
