<html lang = "en">
<head>
  <title>{{ restaurant.name }} Menu</title>
  <meta charset = "utf-8">
</head>

<body>
  <h1>{{ restaurant.name }}</h1>

  <p><a href = "{{ url_for('addItem', restaurant_id = restaurant.id) }}">Add menu item</a></p>

  <h2>Today's Menu:</h2>

  {% for i in items %}
  <ul class = "item">
    <li class = "item__name">{{i.name}}</li>
    <li class = "item__description">{{i.description}}</li>
    <li class = "item__price"> {{i.price}} </li>
    <li class = "item__modify">
      <a href="{{ url_for('editItem', restaurant_id = restaurant.id, item_id = i.id) }}">Edit</a>
      <a href="{{ url_for('deleteItem', restaurant_id = restaurant.id, item_id = i.id) }}">Delete</a>
    </li>
  </ul>
  {% endfor %}

</body>

</html>
