<html lang = "en">
<head>
  <title>{{ restaurant.name }} Menu</title>
  <meta charset = "utf-8">
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'styles.css') }}">
</head>

<body>
  <p class = "db-action db-action--left"><a href="{{ url_for('showRestaurants') }}">Back to restaurant list</a></p>

  <h1>{{ restaurant.name }}</h1>

  <!-- get_flashed_messages returns a Python list of messages that have been added with flash() in the module that calls this template -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class = "flash">
        {% for message in messages %}
          <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if items|length == 0 %}
    <p> We don't have any menu items for this restaurant, yet!</p>
  {% endif %}

  <p class = "db-action"><a href = "{{ url_for('addItem', restaurant_id = restaurant.id) }}">Add menu item</a></p>

  {% if items|length > 0 %}
    <h2>Today's Menu:</h2>

    <ul class = "menu">
      {% for i in items %}
      <ul class = "item">
        <li class = "item__name">{{i.name}}</li>
        <li class = "item__description">{{i.description}}</li>
        <li class = "item__price"> {{i.price}} </li>
        <li class = "item__modify">
          <a href="{{ url_for('editItem', restaurant_id = restaurant.id, item_id = i.id) }}">Edit</a>
          <a href="{{ url_for('deleteItem', restaurant_id = restaurant.id, item_id = i.id) }}">Delete</a>
        </li>
      </ul>
      {% endfor %}
    </ul>
  {% endif %}

</body>

</html>
